@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  background-color: #0f172a; /* Tailwind's slate-900 */
  color: #e2e8f0; /* Tailwind's slate-200 */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 9999px;
  margin: 0 4px !important;
}